*{
  box-sizing: border-box;
  font-family: 'Black Ops One', cursive;
}

body{
  background-color: rgb(10, 61, 98);
  margin: 0px;

}

.title-container{
  display: flex;
  border-bottom: 4px solid rgb(60, 99, 130);
}

.header-container{
  background-color: rgb(60, 99, 130);
  margin: 0px;
  padding:10px 0px 0px 0px;

 
}

.game-title{
  margin: 0;
  width: 100%;
  text-align: center;
}

.upgrades-container{
  display: flex;
  justify-content: space-around;
}

.upgrades1, .upgrades2, .upgrades3, .upgrades4, .upgrades5{
  border:none;
  background-color: rgb(10, 61, 98);
  height: 40px;
  width: 20%;
  padding: 0px;
  border-bottom:10px solid rgb(60, 99, 130);
  border-left: 4px solid rgb(60, 99, 130);

}

.upgrades:first-child{
  border-left: none;
}

.upgrades:last-child{
  border-right: 0px solid;
}

.button-container{
  display: flex;
  justify-content: center;
  position: relative;
  height:89.9vh
}

.main-button{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  border-radius: 150px;
  border:none;
  background-color: rgb(183, 21, 64);
  box-shadow:7px 7px 0px 4px rgb(94, 5, 29);
  
}

.main-button:hover{
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.main-button:active {
 scale: 0.99;
 transition: 0.01s;
 background-color: rgb(218, 50, 95);

}

.upgrades1:hover, .upgrades2:hover, .upgrades3:hover, .upgrades4:hover, .upgrades5:hover{
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.js-upgrade1, .js-upgrade2, .js-upgrade3, .js-upgrade4, .js-upgrade5{
  background-color: rgb(16, 106, 170);
}

.not-available:active{
  animation:not-allowed 2s; 
}

@keyframes not-allowed {
  from{
    background-color: rgb(238, 63, 63);
    color: white;
  }
  to{ background-color: rgb(10, 61, 98);}
  
}