*{
  box-sizing: border-box;
}

body, html{
  position: relative;
  margin: 0;
  height: 100%;
  background-color: rgb(87, 75, 144);
}

.main-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(99, 88, 155);
  width: 750px;
  height: 750px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 8px solid rgb(47, 37, 95);
  height: 700px;
  width: 700px;
}

.gridbox-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid rgb(47, 37, 95);
  background-color: rgb(95, 84, 148);
  height: 228.66px;
  width: 228.66px;
  
}

.gridbox-item button{
  background-color: transparent;
  border: none;
  display: flex;
}

.fa-x, .fa-circle{
  display: none;
}

.fa-x-on, .fa-circle-on{
  width: 150px ;
  height: 150px;
  font-size: 150px;
  color: white;
  text-shadow: 3px 4px 0px rgb(172, 170, 170);
  text-align: center;
}
